{erl_opts, [debug_info
            %, fail_on_warning
           , {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}. % meck don't like cover yet
{cover_print_enabled, true}.

{edoc_opts, [{doclet, asciiedoc_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {src_path, ["src/"]}
            %%, {new, true}
            , {packages, false}
            , {stylesheet, "stylesheet.css"}
            , {image, "null.png"} % don't copy erlang.png
            ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{eunit_compile_opts, [%% {d, 'TEST'}
                     ]}.

{lib_dirs, ["deps", "apps"]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.

{deps, [
        {sutil, ".*", {git, "git://github.com/eryx67/sutil.git",  {branch, "master"}}},
        {devino_sms, ".*", {git, "git://github.com/eryx67/devino_sms.git",  {branch, "master"}}},
        {prostor_sms, ".*", {git, "git://github.com/eryx67/prostor_sms.git",  {branch, "master"}}},
        {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", {branch, "master"}}},
        {gen_icmp, ".*", {git, "git://github.com/msantos/gen_icmp.git", {branch, "master"}}},
        {exometer, ".*", {git, "git://github.com/Feuerlabs/exometer.git", {branch, "master"}}},
        {edown, ".*", {git, "git://github.com/eryx67/edown.git", "HEAD"}},
        {asciiedoc, ".*", {git, "git://github.com/eryx67/asciiedoc.git", "HEAD"}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
        {plain_rpc, ".*", {git, "git://github.com/eryx67/plain_rpc.git", "HEAD"}},
        {plain_fsm, ".*", {git, "git://github.com/esl/plain_fsm.git", "HEAD"}},
        {deepprops, ".*", {git, "git://github.com/keynslug/deepprops.git", {branch, "master"}}},
        {json_rec, ".*", {git, "git://github.com/eryx67/json_rec.git", "HEAD"}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {branch, "devel"}}},
        {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {erlastic_search, ".*", {git, "git://github.com/tsloughter/erlastic_search.git", {branch, "master"}}},
        {strftimerl, ".*", {git, "git://github.com/kennystone/strftimerl.git", {branch, "master"}}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
        {escalus, ".*", {git, "git://github.com/esl/escalus.git", {branch, "master"}}},
        {dthread, ".*", {git, "git://github.com/tonyrog/dthread.git", {branch, "master"}}},
        {uart, ".*", {git, "git://github.com/tonyrog/uart.git", {branch, "master"}}},
        {gsms, ".*", {git, "git://github.com/eryx67/gsms.git", {branch, "master"}}}
       ]}.

{sub_dirs, []}.

{post_hooks,
 [
 ]}.
